body {
   font-family: "Lobster";
   font-size: 13px;
   font-style: italic;
   font-style: line-through;
   font-weight: bold;
   text-decoration: underline wavy red;
   color: #00ffed;
   background-color: #f7ffe0;
}
div1 {
   font-size: 15px
   color: #ffd800
   text-decoration: underline wavy blue;
}
