body {
   background-image: radial-gradient(orange, green, yellow);
   font-family: "Amatic sc";
   font-size: 13px;
   font-style: italic;
   font-style: line-through;
   font-weight: bold;
   text-decoration: underline wavy red;
   color: #00ffed;
   background-color: #f7ffe0;
}
header {
font-family: "Lobster";
   font-size: 40px;
   font-style: italic;
   font-style: line-through;
   font-weight: bold;
   text-align: center;
   text-decoration: underline wavy red;
   color: #a5ff00;
}
footer {
   font-family: "Comic sans ms";
   font-size: 9px;
   font-style: italic;
   font-style: line-through;
   font-weight: bold;
   text-align: right;
   text-decoration: underline wavy blue;
   color: #a59fi0;
}
div1 {
   font-size: 15px
   color: #ffd800
   text-decoration: underline wavy blue;
}
div3 {
font-family: "Jokerman";
   font-size: 99px;
   font-style: italic;
   font-style: line-through;
   font-weight: bold;
   text-align: right;
   text-decoration: underline wavy blue;
   color: #;
